/*Her fjerner jeg alt styling og sætter standardfonten til open sans*/
*{
    margin: 0;
    background: none;
    border: none;
    color: #f9f9f9;
    font-family: 'open sans';
}



/*Her sætter jeg baggrunden ind og får den til at fylde hele siden*/
body {
    background-image: url('../img/baggrund.webp');
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

/*Her fastsætter jeg min header i toppen så den bliver der når man scroller*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Sørg for, at headeren er foran alt andet indhold */
}

/*Her sætter jeg baggrundsfarve på headeren når man scroller*/
.scrolled {
    background-color: #15411b;
    transition: background-color 0.3s ease;
    height: 6.5rem;
}


/*Her sætter jeg en størrelse på logoet*/
.logo{
    width: 7rem;
    margin-top: 3rem;
}

/*Her styler jeg mine menupunkter og laver plads imellem dem.*/
/*Derefter sætter jeg en højde på den og en baggrundsfarve samt tekstfarve*/
.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5.6rem;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0;
}

/*Her laver jeg lige plads til menulinksense*/
.menu li{
    margin: 1rem;
    font-family: 'dm serif', sans-serif;
    font-weight: 100;
}

#burgerbar{
    display: none;
}

/*Her styler jeg undermenupunkter*/
.menu a{
    text-decoration: none;
    color: white;
    margin-bottom: 0.3rem;
    font-family: 'dm serif', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}

/* Her sætter jeg en hover på så submenuen vises når man holder musen over*/
.menu li:hover .submenu {
    display: block; 
}

/*Her skjuler jeg submenuen, når men ikke hover på dem, giver baggrunden en farve og giver lidt plads omkring punkterne*/
/*Og så sætter jeg det hele foran alt andet med z-index og sætter skygge på*/
.submenu {
    display: none;
    list-style: none;
    position: fixed;
    background-color: #15411b;
    border-radius: 1rem;
    z-index: 1;
    padding: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

/*Her styler jeg sidebaren med skygger og farve*/
/*Derudover fastsætter jeg også dets position og størrelse*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 13rem;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #15411b;
    backdrop-filter: blur(10px);
}

/*Her fjerner jeg list styling fra sidebar menupunkterne*/
.sidebar li{
   padding: 1.3rem;
   list-style: none;
   background-color:#15411b;
   color: #f9f9f9;
   font-family: 'dm serif';
    font-weight: 100;
}

/*Her styler jeg submenu punkterne*/
.sidebar a{
    text-decoration: none;
    color: white;
    font-family: 'dm serif';
    font-weight: 100;
}

/*Her laver jeg en hover funktion så sidebaren dukker op*/
.sidebar li:hover .sideSubmenu {
    display: block; 
    background-color: #15411b;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px; 
}


/*Her styler jeg submenu punkter med farve og plads*/
.sideSubmenu {
    display: none;
    list-style: none;
    background-color: #f9f9f9;
    z-index: 1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    position:absolute;
    max-height: 30vh;
    overflow-y:auto;
}
 
/*Her laver jeg plads mellem menupunkterne*/
.sideSubmenu li{
    padding: 0.7rem;
}

/*Her styler jeg footeren*/
footer{
    background-color: #15411b;
    padding: 2rem 0;
    height: 25vh;
    color: #f9f9f9;
    margin-top: 40vh;
}

footer div{
    display: flex;
    flex-direction: column;
}

/*Her styler jeg placering af elementer i footeren*/
.alt_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 7rem;
}

footer div ul{
    list-style: none;
}

/*Her styler jeg teksten i footeren*/
h4{
font-family: 'dm serif';
font-weight: 100;
font-size: 1.6rem;
margin-bottom: 0.7rem;
}

/*Her styler jeg placeringen af elementer i footeren*/
footer div ul li{
    font-size: 1.3rem;
    font-family: 'open-sans';
    margin: 0.2rem;
}

/*Her styler jeg billederne med størrelse og rundede kanter*/
img{
    width: 23rem;
    border-radius: 10px;
    margin: 0 1rem 1.5rem 1rem;
}

/*Her styler jeg alt indholdet udover header og footer*/
.alt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}


/*Her styler jeg overskiften*/
h1{
font-size: 2.2rem;
font-family: 'dm serif';
font-weight: 100;
margin-bottom: 4rem;
}

/*Her styler jeg første tekst*/
.alt_tekst1{
    display: flex;
    flex-direction: column;
    width: 29rem;
}

/*Her styler jeg første tekst og billede*/
.artikel1{
    display: flex;
    flex-direction: row; 
}

/*Her styler jeg første tekst*/
.tekst1 p{
    font-size: 1.1rem;
    margin-top: 0.8rem;
    line-height: 1.2;
}

/*Her styler jeg anden tekst*/
.alt_tekst2{
    display: flex;
    flex-direction: column;
    width: 25rem;
}

/*Her styler jeg anden tekst og billede*/
.artikel2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.5rem;
}

/*Her styler jeg anden tekst*/
.tekst2 p{
    font-size: 1.2rem;
    margin-top: 0.8rem;
    line-height: 1.2;
}

/*Her styler jeg tredje tekst*/
.alt_tekst3{
    display: flex;
    flex-direction: column;
    width: 25rem;
}

/*Her styler jeg tredje tekst og billede*/
.artikel3{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

/*Her styler jeg tredje billede*/
.artikel3 img{
    width: 26.5rem;
}

/*Her styler jeg tredje tekst*/
.tekst3 p{
    font-size: 1rem;
    margin-top: 0.5rem;
    line-height: 1.3;
}

h3{
    font-size: 2.2rem;
}

/*Her styler jeg outro teksten*/
.outro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.outro p{
    width: 53rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'dm serif';
    font-weight: 100;
}



/*Her styler jeg skræem når den er max 1024px*/
@media only screen and (max-width: 1024px) {
    .click {
      font-size: 1.2rem;
    }

    .alt{
        transform:scale(0.9);
        margin-top: 3rem;
    }

    .outro p{
        width: 85vw;;
    }

   
}

/*Her styler jeg skræem når den er max 850px*/
@media only screen and (max-width: 850px) {

    #burgerbar{
        display: block;
    }

    .click{
        display: none;
    }

    .menu{
        justify-content: space-around;
    }

    .alt_footer{
        flex-direction: column;
        width: 100%;
        margin: 2rem 0;
        align-items: center;
    }

    .alt_footer ul{
        margin-bottom: 3rem;
    }

    footer{
        height: auto;
    }

    footer div ul li{
        width: 10rem;
    }

    .alt{
        transform: scale(0.8);
    }

}
   
/*Her styler jeg skræem når den er max 700px*/
@media only screen and (max-width: 700px) {

    .artikel1, .artikel2, .artikel3{
        flex-direction: column;
        margin-bottom: 5rem;
    }

    article img{
        transform: scale(1.2);
        margin-bottom: 2rem;
        width: 70vw !important;
        margin-bottom: 4rem;
    }

    .alt_tekst1{
        width: 70vw !important;
    }
    .logo{
        margin-top: 5rem;
    }

    h1{
        margin-top: 0;
        text-align: center;
    }

    .outro{
        margin: 0;
    }

    .artikel3{
        margin: 0;
    }

    footer{
        margin-top: 3rem;
    }

    .alt{
        margin: 0;
    }

    .tekst1 p{
        width: 80vw;
        line-height: 1.5;
    }

    .tekst2 p{
        width: 80vw;
        line-height: 1.5;
    }

    .tekst3 p{
        width: 80vw;
        line-height: 1.5;
    }
}

/*Her laver jeg mine egne font, som er en jeg har hentet ned fra google og kaldt for "comic sans"*/
/*Jeg har placeret den downloadede font i mappen "fonts", som jeg også har linket til her*/
@font-face {
    font-family: 'dm serif';
    src: url(../fonts/DMSerifDisplay-Regular.ttf) format('truetype');
}